.heading {
  font-family: 'Papyrus', 'Georgia', serif;
  font-size: 60px;
  font-weight: bold;
}

.card,
.index.heading {
  color: brown;
}

.card {
  background-color: #99FF99;
  padding: 2px 10px;
  border: 5px dotted brown;
  width: 500px;
  height: auto;
  margin: auto;
  box-sizing: border-box;
}

.index.heading {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}

.recipe.heading {
  text-align: center;
}

.recipe-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
}

.list {
  font-size: 30px;
}

.description .description-heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}